<div class="pokemon-container">
    <div class="box" *ngFor="let pokemon of pokemons">
        <div class="infos">

            <a href=""><img [src]="pokemon.sprites.front_default" alt="Pokemon"></a>
            <p><a href="">{{pokemon.name.toUpperCase()}}</a></p>
            <p>Type : {{pokemon.types[0].type.name}}</p>
            <p>N°{{pokemon.id}}  </p>
            <p>Vie : {{pokemon.stats[0].base_stat}} HP</p>
            <p>Power : {{pokemon.stats[1].base_stat}} ATTACK</p>
        </div>
    </div>
</div>


<!-- <pagination-controls (pageChange)="page = $event; pokemons = []; getPokemons()"></pagination-controls> -->